.MainProducts{
  text-align: center;
  font-size: 3rem
}

.MainProducts__grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
}

.MainProducts article{
  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 400px;
}
.MainProducts img{
  height: 300px;
  opacity: 0.4;
  object-fit: cover;
}
.MainProducts p{
  position: absolute;
  top: 0;
  right: 1.5rem;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 300px;
  text-align: right;
}
