.Hero {
  color: #fefefe;
  text-align: center;
}

.HeroTitle {
  letter-spacing: 5px;
  margin: 10px;
  font-size: 8rem;
  background: linear-gradient(135deg,
      #2e026d,
      #5b21b6,
      #2563eb,
      #38bdf8);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 768px) {
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 1;
  }

  @media (max-width: 480px) {
    font-size: 3rem;
    letter-spacing: 1px;
  }
}

.Hero h2 {
  margin: 10px;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}